@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
}

* {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Shared Styles */
.dark-1 {
  color: #131313;
}

.dark-2 {
  color: #424242;
}

.dark-3 {
  color: #727272;
}

.button {
  color: white;
  font-weight: 600;
  font-size: 20px;
  background-color: #ff900e;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
}

section {
  margin-bottom: 130px;
}

header {
  background-color: rgba(255, 144, 14, 0.1);
}

nav {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 25px;
}

nav li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.banner-content {
  max-width: 862px;
  margin: 113px auto 50px auto;
}
