@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
.banner,
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* Shared Styles */
.dark-1 {
  color: #131313;
}

.dark-2 {
  color: #424242;
}

.dark-3 {
  color: #727272;
}

.button {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  background-color: #ff900e;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
}

section {
  margin-bottom: 130px;
}

header {
  background-color: rgba(255, 144, 14, 0.1);
  margin-bottom: 100px;
}

nav {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 25px;
}

nav li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

nav h2 {
  font-size: 2.7rem;
}

.banner-content {
  max-width: 862px;
  margin: 113px auto 50px auto;
  text-align: center;
}

.banner-content h1 {
  font-size: 4rem;
  margin-bottom: 16px;
}

.banner-content p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}

.banner-img img {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 45px;
}

.architect-gallery-container {
  display: flex;
  gap: 75px;
  justify-content: space-between;
  align-items: center;
}

.img-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.gallery-content h2,
.features-content h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.gallery-content p,
.features-content p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}

#features {
  color: #ff900e;
}

.features-container {
  display: flex;
  gap: 146px;
  align-items: center;
  justify-content: space-between;
}

.features-content h2 {
  border-left: 5px solid #ff900e;
  padding-left: 15px;
}

.features-badge {
  background-color: #ff900e;
  padding: 2rem;
  border-radius: 8px;
  border: none;
  color: white;
  margin-left: -100px;
  margin-top: -200px;
}

#year {
  font-size: 60px;
}

.features-btn small {
  font-size: 25px;
}

.card {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  background: white;
  padding: 30px 42px 30px 30px;
  margin-top: 20px;
}

.card h4 {
  font-weight: 600;
  font-size: 20px;
}

.card p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

.features-img img {
  width: 708px;
  height: 982px;
}

/* Mobile Device */
@media screen and (max-width: 576px) {
  nav,
  .banner,
  main {
    padding: 7px;
  }

  header {
    margin-bottom: 30px;
  }

  section {
    margin-bottom: 50px;
  }

  nav {
    flex-direction: column;
    text-align: center;
    gap: 12px;
    padding-top: 20px;
  }

  nav ul {
    justify-content: center;
    padding-left: 0;
  }

  .banner-content {
    margin: 30px auto;
  }

  .banner-content h1 {
    font-size: 2.4rem;
  }

  .banner-content p {
    font-size: 14px;
  }

  .button {
    padding: 15px;
  }

  .banner-img img {
    margin-top: 20px;
    padding-bottom: 10px;
  }

  .architect-gallery-container {
    flex-direction: column-reverse;
  }

  .architect-gallery-container {
    gap: 20px;
  }

  .img-gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .img-gallery img {
    width: 100%;
  }

  .gallery-content {
    text-align: center;
  }

  .features-container {
    flex-direction: column;
    gap: 20px;
  }

  .features-img img {
    width: 100%;
    height: auto;
  }

  .card {
    padding: 15px;
    margin-top: 5px;
  }
}
