@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
}

* {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Shared Styles */
.dark-1 {
  color: #131313;
}

.dark-2 {
  color: #424242;
}

.dark-3 {
  color: #727272;
}

.button {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  background-color: #ff900e;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
}

section {
  margin-bottom: 130px;
}

header {
  background-color: rgba(255, 144, 14, 0.1);
}

nav {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 25px;
}

nav li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

nav h2 {
  font-size: 2.7rem;
}

.banner-content {
  max-width: 862px;
  margin: 113px auto 50px auto;
  text-align: center;
}

.banner-content h1 {
  font-size: 4rem;
  margin-bottom: 16px;
}

.banner-content p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}

.banner-img img {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 45px;
}

/* Mobile Device */
@media screen and (max-width: 576px) {
  body {
    padding: 5px;
  }

  nav {
    flex-direction: column;
    text-align: center;
    gap: 12px;
    padding-top: 20px;
  }

  nav ul {
    justify-content: center;
    padding-left: 0;
  }

  .banner-content {
    margin: 30px auto;
  }

  .banner-content h1 {
    font-size: 2.4rem;
  }

  .banner-content p {
    font-size: 14px;
  }

  .button {
    padding: 15px;
  }

  .banner-img img {
    margin-top: 20px;
  }
}
